<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet">


</head>

<body>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Welcome</h1>
		</div>

		<div>
			<form method="POST" th:action="@{/uploadCsvFile}"
				enctype="multipart/form-data">
				<div class="form-group mt-3">
					<label for="file">Select a CSV file</label> <input type="file"
						name="file" class="form-control-file" id="file" accept=".csv">
				</div>
				<button type="submit" class="btn btn-primary">Upload</button>
			</form>
		</div>

	</main>
</body>
</html>